<div  class="col-xs-12 col-sm-8 col-sm-offset-2 corTxt">      
    <form action="https://app.select.pics/acesso/validacao" method="post" class="select-form" style="max-width: 650px;">
      <p class="col-xs-12 msg-sobre Texto-site font-texto fonte_2">
        
      </p>
      <div class="campo col-xs-12">
        <input id="email" class="input" name="email" value="" type="text" autocomplete="off" placeholder="E-MAIL">
      </div>
      <div class="campo col-xs-12">
        <input id="senha" class="input" name="senha" type="password" autocomplete="off" placeholder="SENHA">
      </div>
      <div class="col-xs-12">
        <button type="submit" class="botaoSelect botao-env font-texto corTxtbotao destaqueCorBotao trn">ACESSAR</button>
      </div>
      <div class="col-xs-12" style="text-align:center; text-align:right;"> 
        <a href="https://app.select.pics/acesso/esqueceusenha" target="_blank" id="esqueceu_senha" class="trn">Esqueceu sua senha?</a></div>
    </form>
  </div>
