<nav  class="navbar navbar-expand-lg bg-body-tertiary">
     <div class="container-fluid">
      <a class="navbar-brand" href="#">Brenda Lopes Studio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/cliente-component">Solicite um orçamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home-component">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login-component">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/listacliente-component">Orçamentos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Selecionar fotos</a></li>
              <li><a class="dropdown-item" href="#">Pagamento</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Contrato</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Area do cliente</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
         
          <button class="btn btn-outline-success" type="submit">Instagram</button>
        </form>
      </div>
    </div>
  </nav>
