<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="assets/img/IMG_8797.jpg" class="d-block w-100"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/IMG_8861.jpg"class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/IMG_8882.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="row">
    <div class="col">
        <div class="card" style="">
            <img src="assets/img/IMG_8797.jpg" class="card-img-top" alt="...">
            <img src="assets/img/IMG_2908.jpg" class="card-img-top" alt="...">
            <img src="assets/img/IMG_2901.jpg" class="card-img-top" alt="...">
            </div>
    </div>
    <div class="col">
        <div class="card" style="">
            <img src="assets/img/IMG_8810.jpg" class="card-img-top" alt="...">
            <img src="assets/img/IMG_2919.jpg" class="card-img-top" alt="...">
            <img src="assets/img/IMG_2903.jpg" class="card-img-top" alt="...">
            </div>
    </div>
    <div class="col">
        <div class="card" style="">
            <img src="assets/img/IMG_8821.jpg" class="card-img-top" alt="...">
            <img src="assets/img/IMG_2909.jpg" class="card-img-top" alt="...">
            <img src="assets/img/IMG_2902.jpg" class="card-img-top" alt="...">
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="">
            
            
    </div>