<table class="table table-success table-striped">
    <tr>
        <th scope="col">Clientes</th>
        <th scope="col">Contato</th>
        <th scope="col">Email</th>
        <th scope="col">Pacote escolhido</th>
      </tr>
      <tbody>
        <tr>
          <th scope="col">Mark Jhon Silva</th>
          <td>marksilva@gmail.com</td>
          <td>62 912345678</td>
          <td>Gostaria de fechar um pacote personalizado de Pré Weding</td>
        </tr>
        <tr>
          <th scope="col"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="col"></th>
          <td colspan="2"></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  
